.contact-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
  }
  
  .center {
    text-align: center;
  }
  