
section {
    margin-top: 80px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  section h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  section p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .mirasimiz-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .mirasimiz-item {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
  }
  
  .mirasimiz-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .mirasimiz-item h3 {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .mirasimiz-item p {
    font-size: 14px;
    color: #777;
  }
  
  
body {
    margin: 0;
    padding: 0;
    background: url(minimalism_AI_art_simple_background_science_fiction_abstract_mountains_night-2202287.jpg) fixed;
    background-size: cover;
  }
  
  .container {
    position: relative;
    z-index: 1;
  }
  
  .container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    z-index: -1;
  }
  