@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../images/minimalism_AI_art_simple_background_science_fiction_abstract_mountains_night-2202287.jpg") fixed;
    background-size: 100% 100%;
    z-index: -1;
    height: auto;
}

.container .header-container {
    width: 100%;
    background: rgba(0, 0, 0, 0);
}

.header-container .logo {
    display: inline-block;
    margin-left: 50px;
    margin-top: 20px;
}

.header-container .logo a {
    text-decoration: none;
    font-size: 30px;
    font-family: sans-serif;
    color: rgb(219, 219, 219);
}

.header-container ul {
    float: right;
    margin-right: 20px;
}

.header-container ul li {
    list-style: none;
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

.header-container ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 6px 13px;
    font-family: Roboto;
    transition: 0.5s;
}

.header-container ul li a.active,
.header-container ul li a:hover {
    background: rgb(94, 93, 93);
    border-radius: 2px;
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
    .header-container ul {
        display: none;
    }

    .header-container ul li {
        display: block;
        text-align: center;
        margin: 10px 0;
    }

    .header-container ul li a {
        padding: 10px;
        display: block;
    }

    .header-container ul li a.active,
    .header-container ul li a:hover {
        background: none;
        border-radius: 0;
    }
}

/* Footer Styling */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff00;
    padding: 5px;
    text-align: center;
}

footer a {
    color: #ffffff00;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #aaaaaa00;
}

#social-media {
    text-align: center;
    margin-top: 10px;
}
#social-media .fab {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #3b589800;
  color: #ffffff00;
  text-align: center;
  line-height: 40px;
  margin-left: 10px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

#social-media .fab:hover {
  background-color: #264f8200;
}

#social-media .fab.fa-linkedin {
  background-color: #0076b500;
  background-image: url("../images/linkedin-logo.png");
  background-repeat: no-repeat;
  background-position: center;
}

#social-media .fab.fa-instagram {
  background-color: #e4405e00;
  background-image: url("../images/instagram-logo.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
  .container {
      background-size: cover;
  }

  .container .header-container .logo {
      margin-top: 10px;
      margin-bottom: 10px;
  }

  .header-container ul {
      float: none;
      text-align: center;
      margin-right: 0;
      margin-bottom: 20px;
  }
}